*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*---------------------------------------------------NavBar---------------------------------------------------*/

.navbar-wrap{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 25px;

    @media (max-width: 620px)
    {
        gap: 15px;
    }
}

.navbar-background{
    background-color: #f1f1f1;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar::before{
    content: url(images/nav/Page-loader.png);
    position: absolute;
    bottom:40px;
    left:-15px;

}

@media (max-width: 620px) {
    .navbar::before {
        position: absolute;
        bottom: 75px;
        left: -15px;
    }
}

.company-logo-wrap{

}

.company-logo{
    width: 100%;
    max-width: 100px;
    min-height: 55px;
}

.navlinks-wrap{
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 620px)
    {
        display: none;
    }
}

.navlinks{
    text-decoration: none;
    color: black;
    transition: all .3s;
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    cursor: pointer;
    @media (max-width: 620px)
    {
        font-size: 20px;
    }
}

.navlinks:hover{
    color: #FAB52F;
}

.hamburger-wrap{
    width: 100%;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    cursor: pointer;
}

.hamburger-bars{
    width: 100%;
    max-width: 20px;
    min-height: 3px;
    background-color: black;
}

.hamburger-bars-tilt-left{
  
    @media (max-width: 620px){
        transition: all .4s;
        transform: rotate(50deg);
        max-width: 25px;
    }
}
.hamburger-bars-tilt-right{

    @media (max-width: 620px)
    {
        transition: all .4s;
        position: absolute;
        transform: rotate(-50deg);
        max-width: 25px;
    }
}

.hamburger-bar-inactive{
    @media (max-width: 620px)
    {
        display: none;
    }
}

.responsive-navbar{
    display: none;
    @media (max-width: 620px)
    {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        position: absolute;
        transform: translateX(-100%);
        left: 0;
        top: 68px;
        background-color: #EFEFEF;
        display: flex;
        flex-direction: column;
        gap: 45px;
        justify-content: center;
        align-items: center;
        z-index: 99; 
        transition: .8s;
    }
}

.responsive-navbar-inactive{
    transform: translateX(0%);
}

.page-navigation-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: #B5B5B5;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -4%;
}


.page-navigation-span{
    color: black;
}

.nav-mediakit-wrap{
    display: none;

    @media (max-width: 620px)
    {
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -2%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-mediakit-wrap > img{
    cursor: pointer;
}
.overflow-hidden {
    overflow: hidden;
}

/*---------------------------------------------------Hero Section---------------------------------------------------*/

.hero-container{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 160px 15px 15px 15px;

    @media (max-width: 620px)
    {
        gap: 40px;
        padding-top: 200px;
    }
}

.hero-heading-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 768px)
    {
        text-align: center;
        gap: 15px;
    }
}

.hero-heading{
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -6%;

    @media (max-width: 420px)
    {
        font-size: 40px;
    }
}

.hero-desc-wrap{
    @media (max-width: 592px)
    {
        padding-inline: 55px;
    }

    @media (max-width: 350px)
    {
        padding-inline: 40px;
    }
}

.hero-desc{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -4%;
    overflow-wrap: break-word;

    @media (max-width: 420px)
    {
        font-size: 17px;
    }
}

.hero-info-wrap{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,minmax(0,1fr));

    @media (max-width: 768px)
    {
        grid-template-columns: repeat(1,minmax(0,1fr));
        grid-gap: 40px;
    }
}

.media-kit-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border: 1px solid #dadada;
    border-radius: 20px;
    text-align: center;

    @media (max-width: 350px)
    {
        padding: 30px;
    }
}

.media-kit-title-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.media-kit-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -5%;

    @media (max-width: 420px)
    {
        font-size: 25px;
    }
}

.media-kit-desc{
    font-size: 17px;
    color: #5F5F5F;
    line-height: 20px;
    letter-spacing: -4%;

    @media (max-width: 420px)
    {
        font-size: 15px;
    }
}

.media-kit-download-btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-kit-download-btn{
    padding: 15px 20px 15px 20px;
    background-color: black;
    color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .5s;

    &:hover{
        box-shadow: rgb(85, 85, 85) 0px 5px 10px
    }
}

.copy-link-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding-inline: 10px;
}

.copy-link{
    font-size: 20px;
    font-weight: 500;

    @media (max-width: 950px)
    {
        font-size: 15px;
    }

    @media (max-width: 370px)
    {
        font-size: 12px;
    }
}

.copy-link-wrap>img{
    cursor: pointer;
}

.copy-message{
    display: none;
    padding: 20px 25px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 30px;
    border-radius: 5px;
}

.copy-message-active{
    display: flex;
}


/*--------------------------------------------------- BRAND ASSETS ---------------------------------------------------*/

.brand-assets-container{
    width: 100%;
    padding: 50px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px; 

    @media (max-width: 768px)
    {
        padding: 30px 15px 10px 15px;
    }
}


.brand-heading-wrap{
    width: 100%;
    text-align: center;
}

.brand-heading{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -5%;
}

.brand-assets-guidelines-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #dadada;

    @media (max-width: 768px)
    {
        flex-direction: column;
    }
}



.brand-asset-img-container{
    width: 100%;
    min-height: 356px;
    background-image: url(images/brand-assets/brand-asset-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    @media (max-width: 768px)
    {
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    @media(max-width: 450px)
    {
        background-image: none;
        background-color: #d8d8d8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.brand-asset-img-container>img{
    display: none;

    @media (max-width:450px)
    { 
        display: flex;
        width: 100%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.brand-asset-info-wrap{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 768px)
    {
        gap: 40px;
    }
}

.brand-asset-title-wrap{
    width: 100%;
    max-width: 503px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.brand-asset-desc-wrap
{
    width: 100%;
    max-width: 400px;
}

.brand-asset-download-btn-wrap{
    display: flex;
    align-items: center;
}


.brand-assets-cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 20px;

    @media (max-width: 850px)
    {
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 25px;
    }
}

.brand-assets-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #dadada;

    @media (max-width: 850px)
    {
        max-width: 400px;
    }
}

.brand-asset-img-wrap{
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.brand-asset-img-wrap>img{
    border-radius: 15px;
}

.brand-asset-download-sec{
    width: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-asset-download-desc{
    font-weight: 600;

    @media (max-width: 425px)
    {
        font-size: 14px;
    }
}

.brand-asset-download-img-wrap{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.brand-asset-download-img-wrap>img{
    width: 100%;
}

/*--------------------------------------------------- FOOTER ---------------------------------------------------*/

.footer-container{
    width: 100%;
    padding: 50px 20px 30px 20px;
   
    @media (max-width: 850px)
    {
       padding: 20px 0px 0px 0px;
    }
}

.footer-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width:850px)
    {
        display: none;
    }
}

.footer-content1
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-content1-title{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -4%;
}

.footer-content-points-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content-points{
    color: #777777;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -4%;
}

.social-icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;

    @media (max-width: 850px)
    {
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
    }
}

.social-icon-wrap{
    cursor: pointer;
}

.responsive-footer{
    display: none;

    @media (max-width: 850px)
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.responsive-footer-contents-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.responsive-footer-contents{
    display: flex;
    justify-content: space-between;
}

.responsive-footer-contents{
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.responsive-footer-minimize-contents{
    display: none;
    flex-direction: column;
    gap: 15px;
}

.responsive-footer-minimize-contents-active{
    display: flex;
    
}

.responsive-footer-contents >img{
    cursor: pointer;
}


/*--------------------------------------------------- COPYRIGHT ---------------------------------------------------*/

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;


    @media (max-width: 850px)
    {
        padding: 0;
    }

    @media (max-width: 630px)
    {
        flex-direction: column-reverse;
        gap:5px;
        
    }
}

.copyright-content{
    font-size: 13px;
    font-weight: 400;
    color: #737373;
    line-height: 14px;
    letter-spacing: -4%;
}